@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --color-darkblue-alpha: rgba(0, 9, 88, 0.8);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: gray;
}

h1 {
    font-weight: 600;
    line-height: 2.2;
}

p {
    font-size: 1.2rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

button {
  border: none;
  width: 25%;
  height: 2.5rem;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
}

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  color: white;
  border-radius: 5%;
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

textarea {
  max-width: 95%;
}

#name,
#email,
#number {
  width: 35%;
  height: 2.2rem;
}