@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
    --color-white: rgb(235, 235, 235);
    --color-purple: rgb(79, 45, 133);
    --color-lightpurple: rgb(168, 102, 255);
}

body {
    font-size: 10px;
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
}

label {
    font-size: 1rem;
}